@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


* {
  font-family: Lato;
}

body {
  background-color: #F4F4F4
}

button {
  background-color: #FFFFFF;
  border: #D8856D solid 1px;
  color: #D8856D;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 1em 1.5em 1em 1.5em;
  margin-top: 6.85em;
  margin-bottom: 2.5em;
}

a {
  text-decoration: none;
  color: #5F5F5F;
  font-weight: bold;
}

.navsocials {
  margin-right: 1.5em;
  margin-top: -1em;
}

.navsocials i {
  font-size: 13px;
  width: 12px;
  display: inline-block;
  margin-right: -0.4em;
  padding: 8px;
  /* border: 1px solid white; */
  /* border-radius: 50%; */
  border-color: #EBEBEB;
  color: #ABABAB;
}

.fa-search {
  margin-left: 1em;
}

/* .facebook {
  width: 10%;
} */

.socials a svg {
  width: 15px;
  display: inline-block;
  margin-right: 5px;
}

/* .bio {
  margin-bottom: 2em;
} */

.socialsbio {
  margin: 3em 2em 3.1em 2em;
}

.socialsbio i {
  font-size: 13px;
  width: 12px;
  display: inline-block;
  margin-right: 0.45em;
  padding: 8px;
  border: 1px solid white;
  border-radius: 50%;
  border-color: #EBEBEB;
  color: #ABABAB;
  /* height: 1px; */
}

.articlelinks a {
  width: 15px;
  display: inline-block;
  margin-right: 5px;
}

.byuser {
  color: #A9A9A9;
  font-style: italic;
  font-size: 0.8em;
  margin-block-start: -1em;
  margin-block-end: 0em;
}

.container {
  display: flex;
  max-width: 90vw;
  margin: auto;
}

nav {
  background-color: #FFFFFF;
  border: 2px solid #E8E8E8;
  padding-bottom: 15px;
  padding-top: 25px;
  margin-bottom: 48px;
  padding-left: 148px;
  padding-right: 134px;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
}

aside > div {
  width: 360px;
  background-color: #FFFFFF;
  text-align: center;
  margin-left: 6px;
  margin-bottom: 2.4em;
  position: relative;
  border: 1px solid #EAEAEA;
}

.navlinks a {
  margin-right: 22px;
  font-size: 11px;
  letter-spacing: 1px;
}

h1,h2,button,.title {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}

main {
  width: 750px;
  margin-right: 25px;
  margin-left: 77px;
}

.articleimg {
  width: 750px;
  height: 472px;
}

.backgroundimg {
  width: 360px;
  height: 190px;
  margin-bottom: -86px;
}

.portrait {
  /* text-align: center; */
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -30px;
  /* position: absolute; */
  /* margin-right: 1000px; */
  /* margin-left: 100px; */
  /* margin-bottom: 500px; */
  /* top: 20%;
  left: 50%; */
  /* transform: translateX(-50%);
  transform: translateY(-1010px); */
  /* right: 50px; */
}

.portrait-img {
  position: relative;
  width: 155px;
  height: 155px;
  border: 7px solid white;
  border-radius: 50%;
  /* transform: translateX(-50%); */
}

.title {
  font-family: 'Oswald', sans-serif;
  color: #545454;
  font-size: 1.13em;
  /* margin-block-start: 25bipx; */
  margin-block-end: 50px;
  letter-spacing: 0.0425em;
}

.popularpoststitle {
  margin: 2em 2em 1.4em 2em;
}

article {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #F0F0F0;
  margin-bottom: 10em;
}

.articlefooter {
  display: flex;
  justify-content: space-between;
  margin: 2em 2em 2em 2em;
}

.hr1 { /* vertical line */
  width: 42em;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #D88361;
  font-size: 11px;
  margin-top: 39px;
  margin-block-start: 44px;
  margin-block-end: 0px;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: #545454;
  font-size: 1.5em;
  margin-block-start: 13px;
  margin-block-end: 24px;
  letter-spacing: 0.0425em;
}

.desc {
  color: #8B8B8B;
  font-size: 15px;
  margin: 1.25em 2.65em 0em 2.65em;
  line-height: 1.70em;
}

.biodesc {
  color: #787878;
  margin: -1.9em 2em -2em 2em;
  line-height: 1.6em;
}

.instagramrow img {
  margin: 5px 5px 5px 5px;
  width: 100px;
  height: 100px;
}

.footerimg {
  width: 180px;
  height: 190px;
  float: left;
}

.follow {
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  border-color: red;
  border-width: 10px;
}

.bottom-text {
  background-color: #222324;
  color: #4A4A4A;
  text-align: center;
  /* padding: 100px 100px 100px 100px; */
  margin: 100px;
}

.popularpost time {
  color: #A9A9A9;
  font-style: italic;
  font-size: 20px;
}

.popularpostimg {
  width: 300px;
  height: 200px;
}

.latestpost {
  display: flex;
  /* justify-content: space-between; */
}

.latestpost p time {
  float: right;
}

.latestpostimg {
  width: 100px;
  /* display: flex;
  justify-content: space-between; */
}

.latest-post-text {
  display: inline-block;
  padding-left: 4px;
}
